/*
    You can add your own custom styles here.
*/
:root {
  --main-top-padding: 35px;
  --body-background: #f5f5fa;
  --accent-color: #34495e;
  --accent-color-darker: #2c3e50;
  --accent-color-text: #fff;
  --body-text-color: #707070;
  --tag-border-radius: 4px;
  --section-separation: 40px;
  --scrollbar-thumb: hsl(0, 0%, 85%);
  --scrollbar-track: var(--body-background);
}

:root[data-scheme="dark"] {
  --body-background: #303030;
  --accent-color: #ecf0f1;
  --accent-color-darker: #bdc3c7;
  --accent-color-text: #000;
  --body-text-color: rgba(255, 255, 255, 0.7);
  --scrollbar-thumb: hsl(0, 0%, 40%);
  --scrollbar-track: var(--body-background);
}

html {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body,
.article-content {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
}
